@import url("https://fonts.googleapis.com/css?family=Merriweather Sans");

* {
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

label {
    visibility: none;
}

h1, h2, h3, h4, h5, p, button, input[type=text] {
    font-family: "Merriweather Sans", sans-serif;
    color: #47525E;
}

input[type=text] {
    font-size: 24px;
    padding: 15px;
    margin: 5px 0;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
    margin: 15px 0;
}

h4 {
    flex-grow: 1;
    margin: 0 20px;
    color: black;
}

h5 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    margin: 12px 0;
}

p.side {
    font-size: 14px;
}

header, button.head {
    height: 65px;
    background-color: #FFE500;
}

header {
    display: flex;    
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
}

button.main {
    background-color: #FFE500;
    border-radius: 10px;
    padding: 10px 20px;
    align-self: flex-end;
    font-size: 20px;
}

button.head {
    flex-grow: 0;
    width: 100px;
}

section, aside {
    flex-direction: column;
    background-color: white;
    border-radius: 18px;
    margin: 10px;
    padding: 20px;
}

aside {
    width: 20%;
}

div.bg {
    background-color: #FEFFB2;
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    padding-top: 75px;
}

.flex-vertical, .flex-horizontal {
    display: flex;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

div.img-holder {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

div.img-holder.mini {
    width: 250px;
    height: 150px;
}

img.horizontal, img.vertical {
    border-radius: 10px;
}

img.vertical {
    width: 100%;
    height: auto;
}

img.horizontal {
    width: auto;
    height: 100%;
}

div.form-container {
    width: 45vw;
    align-self: center;
}

button.form-button {
    font-size: 24px;
    margin: 30px 0;
    width: 80%;
    align-self: center;
}