{% extends "base.html" %}
{% block content %}
    <div class="bg flex-vertical">
        <div class="flex-horizontal">
            <section class="flex-vertical">
                <div class="img-holder">
                    <img class="vertical" src="placeholder.png">
                </div>
                <h3>Bantuan korban Bencana Palu</h3>
                <p>PT. Wilmar Nabati Indonesia (WNI) mengirim bantuan sembilan bahan pokok (sembako) seberat 18 ton atau senilai Rp 3 miliar untuk korban bencana gempa dan tsunami di Palu, Sigi, dan Donggala, Jumat (19/10). Bantuan itu dilepas Direktur PT. WNI Erik Tjiah, dan Direktur PT. Wilmar Nabati Gresik, Saronto beserta jajaran direksi di perusahaan setempat.

Erik Tjiah menyatakan, bahwa bantuan 18 ton sembako itu berupa beras, minyak goreng dan kebutuhan lain. "Pengiriman bantuan...
                </p>
                <button class="main">Read More</button>
            </section>
            <section class="flex-vertical">
                <div class="img-holder">
                    <img class="horizontal" src="placeholder.png">
                </div>
                <h3>Train Disaster</h3>
                <p>Angry relatives staged a protest Saturday on the tracks where a speeding train ploughed into crowds watching fireworks, killing about 60 people in the latest disaster to bedevil India’s railway network.

The Jalandhar-Amritsar express hit scores of people who had gathered on the tracks Friday to get a view of a firework-packed effigy of the demon king Ravana for a Hindu festival.

Many of the victims were dismembered beyond recognition and police said it would take several days to complete the identification...

                </p>
                <button class="main">Read More</button>
            </section>
            <aside>
                <div class="img-holder mini">
                    <img class="horizontal" src="placeholder.png">
                </div>
                <h5>Arizona hurricane disaster</h5>
                <p class="side">A major earthquake that displaces a mass population of people. Widespread power outages that cascade through a metro area. Catastrophic droughts or devastating floods that strand people in their homes.  

Natural disasters are an increasingly common reality for hundreds of thousands of Americans, and as climate change and urbanization...
                </p>
                <div class="img-holder mini">
                    <img class="horizontal" src="placeholder.png">
                </div>
                <h5>Wildfire in north America</h5>
                <p class="side">What if fixing fire really means fixing ourselves, fixing our relationships with each other, and the relationship we basically have with the earth?”

That was the question Toddi Steelman asked a roomful of concerned Bow Valley residents gathered in September to hear about what a future that combines wildfire and climate ...
                </p>
                <button class="main">Click here for more events</button>
            </aside>
        </div>
    </div>
{% endblock %}
