{% extends "base.html" %}
{% block content %}
<div class="bg flex-vertical">
		<h1>Thank you for your donation!</h1>
		<h2>Now here is how to proceed:</h2>
		<div class="form-container">
			<form class="flex-vertical" id="form_donasi" method="POST" action="{% url 'FormDonasi:index' %}">

				{% csrf_token %}
				
				{{ get_donation_form.as_p }}

				<button class="main form-button" type="submit" value=submit">Submit</button>

			</form>
		</div>
</div>
{% endblock %}
