<!DOCTYPE html>
<html lang = "en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="google-signin-client_id" content="526386525514-o7f8g5qdfhl9r060sogc57jjo14n1csc.apps.googleusercontent.com">

        <title>Sign Up - SinarPerak</title>

        <!-- Bootstrap Core CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom CSS and font here-->
        <!--<link href=" static 'styles/default.css' " rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600i,800,900" rel="stylesheet" type="text/css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

    </head>

    <body>
    	<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
			    <div class="row">
			    	<div class="col-sm"></div>
				    <div class="col-sm">
				    	<h2 style="
				    		font-size: 24px;
				    		text-align: center;
				    		margin-left: auto;
				    		margin-right: auto;">SinarPerak
						</h2>
				    </div>
			    <div class="col-sm"></div>
			    </div>
			</a>
		</nav>
    	<div class="container-fluid">
    		<div class="row"
			    style="
			    margin-top: 1.5vw">
			    <div class="col-sm">
			    </div>
			    <div class="col-sm">
			    	<div class="row justify-content-md-center">
			    		<a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}"
			    		style="
			    			margin-left: auto;
			    			margin-right: auto;
			    			margin-top: 15px;
			    			margin-bottom: 15px;
			    			border-left-width: 2.5rem;
			    			border-right-width: 2.5rem;
			    			padding-left: 25px;
			    			padding-right: 25px;
			    			padding-top: 5px;
			    			padding-top: 5px;
			    		"
			    		>Sign up with Google</a>
			    		
			    	</div>
			    	<div class="row justify-content-md-center">
			    		<div class="line2" 
			    		style="
			    			min-width: 122px;
			    			width: 11.7vw;
							height: 0px;
							top: 707px;
							border: 1px solid #000000;
							margin-top: 15px;
							margin-bottom: 15px;
							margin-left: auto;
							"
						>	
						</div>

						<h5 style="
						font-size: 18px;
						margin: 10px;
						text-align: center;">
						or
						</h5>

			    		<div class="line2" 
			    		style="
			    			min-width: 122px;
			    			width: 11.7vw;
							height: 0px;
							top: 707px;
							border: 1px solid #000000;
							margin-top: 15px;
							margin-bottom: 15px;
							margin-right: auto;
							"
						>	
						</div>
			    	</div>
			    	
			    	
			    	<div class="row justify-content-md-center">
			    		<h4 class="text 1 bold"
			    		style="
			    			margin-left: auto;
							margin-right: auto;
							margin-top: 15px;
							margin-bottom: 10px;
							font-size: 22px;
							text-align: center;
							"> Sign Up With Your Email
			    		</h4>
			    	</div>
			    	
			    	<div class="row justify-content-md-center">
			    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"
			    		style="
			    			margin-left: 3.5rem;
			    			margin-right: 3.5rem;
			    			margin-top: 10px;
			    			margin-bottom: 10px;
			    			padding-left: 25px;
			    			padding-right: 25px;
			    			padding-top: 5px;
			    			padding-top: 5px;
			    			min-width: 260px;
			    		">
			    	</div>

			    	<div class="row justify-content-md-center">
			    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Confirmation"
			    		style="
			    			margin-left: 3.5rem;
			    			margin-right: 3.5rem;
			    			margin-top: 10px;
			    			margin-bottom: 10px;
			    			padding-left: 25px;
			    			padding-right: 25px;
			    			padding-top: 5px;
			    			padding-top: 5px;
			    			min-width: 260px;
			    		">
			    	</div>

			    	<div class="row justify-content-md-center">
			    		<input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password" 
			    		style="
			    			margin-left: 3.5rem;
			    			margin-right: 3.5rem;
			    			margin-top: 10px;
			    			margin-bottom: 10px;
			    			padding-left: 25px;
			    			padding-right: 25px;
			    			padding-top: 5px;
			    			padding-top: 5px;
			    			min-width: 260px;
			    			justify-content: center;
			    		"
			    		>
			    	</div>

			    	<div class="row justify-content-md-center">
			    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name"
			    		style="
			    			margin-left: 3.5rem;
			    			margin-right: 3.5rem;
			    			margin-top: 10px;
			    			margin-bottom: 10px;
			    			padding-left: 25px;
			    			padding-right: 25px;
			    			padding-top: 5px;
			    			padding-top: 5px;
			    			min-width: 260px;
			    		">
			    	</div>
			    	
			    	<div class="row justify-content-md-center">
			    		<button type="button" class="btn btn-success"
			    		style="
			    			margin-left: auto;
			    			margin-right: auto;
			    			margin-top: 15px;
			    			margin-bottom: 15px;
			    			border-left-width: 2.5rem;
			    			border-right-width: 2.5rem;
			    			padding-left: 25px;
			    			padding-right: 25px;
			    			padding-top: 5px;
			    			padding-top: 5px;
			    		"
			    		>Sign Up</button>
			    	</div>
			    	
			    	<div class="row justify-content-md-center">
			    		<div class="line3" 
			    		style="
			    			min-width: 280px;
			    			width: 26vw;
							height: 0px;
							left: 100px;
							right: 100px;
							top: 707px;
							border: 1px solid #000000;
							margin-top: 15px;
							margin-bottom: 15px;
							margin-left: auto;
							margin-right: auto;
							"
						>	
						</div>
			    	</div>
			    	
			    	<div class="row justify-content-md-center">
			    		<p
			    		style="
			    		margin-top: 15px;
			    		margin-bottom: 15px;
			    		justify-content: center;
			    		margin-left: auto;
						margin-right: auto;
						text-align: center;
			    		">Already have an account? 
			    		<a href="/account/login" ><b>Sign In</b></a></p>
			    	</div>
			    </div>
			    <div class="col-sm justify-content-md-center">
			    	
			    </div>
			</div>
		</div>
    </body>
</html>
	
	