{% extends "base.html" %}
{% block content %}
<div class="bg flex-vertical">
    <h1>This is the h1 example.</h1>
    <h2>This is the h2 example.</h2>
	<form>
		<div class="form-container">
			<form class="flex-vertical">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
				<input type="checkbox" name="agreement">By checking this box, you agree to our Terms and Conditions and Privacy Policy. <br>
                <button class="main form-button" type="submit">Submit</button>
            </form>
        </div>
	</form>
</div>
{% endblock %}
