{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="google-signin-client_id" content="526386525514-o7f8g5qdfhl9r060sogc57jjo14n1csc.apps.googleusercontent.com">

        <!-- Bootstrap Core CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom CSS and font here-->
        <link href={% static 'styles/default.css' %} rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600i,800,900" rel="stylesheet" type="text/css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

    </head>

    <!--         NAVIGATION BAR SECTION               -->
	<body>
		<header>
			<h4 id="log222">SINAR PERAK FOUNDATION</h4>
            {% if user.is_authenticated %}
                <p>Hello, {{ user.first_name }}<p/>
                <button class="head"><a class="nav-textxx" href="/kasus-bencana/">Events</a> <br/></button>
                <button class="head"><a class="nav-textxx" href="/program-donasi/">Fundings</a> <br/></button>
			    <button class="head"><a class="nav-textxx" href="/form-donasi/">Donate!</a> <br/></button>
                <a class="btn btn-danger" href="/auth/logout/">Sign Out</a> <br/>
            {% else %}
                <a class="btn btn-primary" href="/account/login" style="
                margin-right: 1.5rem">Sign In</a>
            {% endif %}
			
		</header>
    {% block content %}
    {% endblock %}


    <!-- Bootstrap Core JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Custom Script -->
    <script src="{% static 'js/interactive.min.js' %}"}></script>
    <script>
        $(function() {
            $( "#id_date" ).datepicker({
                minDate: 0,
                maxDate: "+24M",
                yearRange: "1900:2025",
                // You can put more options here.
            });
        });
    </script>
    </body>
</html>

<!--#########################OLD HTML BELOW#################-->
